.navbar{
    display : flex;
    justify-content : space-between;
    align-items : center;
    color : rgb(255, 219, 219);


}

.nav-links {
    display : flex;
    justify-content : space-between;
    align-items : center;
    list-style : none;
    gap: 35px
}
.icons{
    gap: 10px ;
    display : flex;
    justify-content : space-between;
    align-items : center;
    list-style : none;
 
    
}


